# RPC / chain
SUI_RPC_URL=https://fullnode.devnet.sui.io:443
SUI_KEYSTORE=~/.sui/sui_config/sui.keystore
SUI_ACTIVE_ADDRESS=0xYOURADDR

# Admins / witnesses
ADMIN1_ADDR=0xADMIN1
ADMIN1_PUBKEY=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
ADMIN2_ADDR=0xADMIN2
ADMIN2_PUBKEY=deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef
THRESHOLD=2
WITNESS1=0xWIT1
WITNESS2=0xWIT2

# Arweave
ARWEAVE_KEY=./secrets/arweave.json

# n8n (optional)
N8N_WEBHOOK_URL=
